<!DOCTYPE html>
<html>
<script src="js/angular.min.js"></script>
<body>
<!-- Expression example-->
<div ng-app="firstapp" ng-init="person={firstperson:'vijay',secondperson:'manish' }" >

<p>Angular expresion {{ person.firstperson }}</p>

<p>Angular Expression <span ng-bind="person.secondperson"></span></p>

<div ng-init="points=[1,15,19,2,40]">

<p>The third result is {{ points[2] }}</p>

</div>

</div>




</body>
</html>