<!DOCTYPE html>
<html>
<script src="js/angular.min.js"></script>
<body>
	<div ng-app="filter-usage" ng-controller="filter-controller">
		<p>The name is {{ lastName | uppercase }}</p>
	</div>
	<script type="text/javascript">
	var filterapp = angular.module('filter-usage',[]);
	filterapp.controller('filter-controller',function($scope){
		$scope.lastName="vijay";
	})
	</script>
</body>
</html>