<!DOCTYPE html>
<html>
<script src="js/angular.min.js"></script>
<body>

	<!-- Using ng-repeat directive -->
	<!-- <div ng-app="nameapp" ng-controller="namectr">
		<input type="text" ng-model="carname">
		<h1>{{carname}}</h1>
		<ul>
		    <li ng-repeat="boy in names">{{boy}}</li>
		</ul>
	</div> -->

	<script>

		var nameapp = angular.module('nameapp', []);

		nameapp.controller('namectr', function($scope) {
		    $scope.names = ["vijay", "Rajesh", "Karan"];
		    $scope.carname="volove";
		});

	</script>


	<!-- Root Scope using example -->
	<div ng-app="rootusage">
		<div>{{color}}</div>
		<div n-controller="colorcontroller">{{color}}</div>
		<div>{{color}}</div>
	</div>

	<script type="text/javascript">
	var colorapp = angular.module('rootusage',[]);
	colorapp.run(function($rootScope) {
		$rootScope.color='blues';
	});

	colorapp.controller('colorcontroller',function($scope){
		$scope.color="red";
	})
	</script>




</div>

</body>
</html>