<!DOCTYPE html>
<html>
<script src="js/angular.min.js"></script>
<body>

<!-- location Services -->
	<div ng-app="services-app" ng-controller="services-ctr">
		<p>URL here {{ servicesurl }}</p>
		<p> {{text_message}}</p>
		<p>{{theTime}}</p>
		<p>{{hex}}</p>
	</div>

	<script type="text/javascript">
	var app = angular.module('services-app',[]);

	app.service('hexafy', function() {
	    this.myFunc = function (x) {
	        return x.toString(16);
	    }
	});

	app.controller('services-ctr',function($scope,$location, $timeout, $interval, hexafy){
		$scope.servicesurl = $location.absUrl();
		$scope.text_message = "first text messages";
		$scope.theTime = new Date().toLocaleTimeString();
		$scope.hex = hexafy.myFunc(255);
		$timeout (function() {
			$scope.text_message = "second messages";
		}, 2000);
		$timeout (function() {
			$scope.text_message = "third messages";
		}, 5000);
		$interval (function() {
			$scope.theTime = new Date().toLocaleTimeString();
		}, 1000);
	})

	</script>
<!-- Timeout services -->
	
	<script type="text/javascript">
		


	</script>



</body>
</html>