<!DOCTYPE html>
<html>
<script src="js/angular.min.js"></script>
<body>


<div ng-app="MyApp" ng-init="SecondName='John'; ThirdName= 'just thurd name'" ng-controller="Myctr">
	<form id="startupform">
		<p>Name: <input type="text" ng-model="name"></p>

		<p> Display input value : <span ng-bind="name"></span></p>
		<p>second name <span ng-bind="SecondName"></span></p>
		<p> My first expression: {{ 10-5 }}</p>
	</form>
	<br/>
	<br/>
	<p><input type="text" ng-model="FriendnameOne"></p>
	<p><input type="text" ng-model="FriendnameTwo"></p>

	<p>Friend name = {{ FriendnameOne + "" + FriendnameTwo }}</p>

	<br/>
	<br/>

	<p>My first expression details : {{ SecondName + " " + ThirdName }}</p>


	<script type="text/javascript">

	var app = angular.module('MyApp', []);
	app.controller('Myctr', function($scope) {
	    $scope.FriendnameOne= "John";
	    $scope.FriendnameTwo= "Doe";
	});

	</script>


</div>

</body>
</html>